<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.Reports.Report"></listener>
	</listeners>

<!-- <test thread-count="2" name="Test1">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.LoginTest">
				<methods>
					<include name="Login" />

				</methods>
			</class>
		</classes>
	</test>  -->
	

<!-- <test thread-count="2" name="Test2">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC001_MedicalCenter_MedicalCenterTypes">
				<methods>
					<include name="MedicalCentreTypes" />

				</methods>
			</class>
		</classes>
	</test>	
	
	<test thread-count="2" name="Test4">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC_001_DoctorManagement_DoctorTypes">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> 
	

	
<test thread-count="2" name="Test5">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC_002_DoctorManagement_Specializations">
				<methods>
					<include name="Specializations" />

				</methods>
			</class>
		</classes>
	</test> 
	 -->
	
	<!-- <test thread-count="2" name="Test6">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC_003_DoctorManagement_Doctors">
				<methods>
					<include name="Doctor" />

				</methods>
			</class>
		</classes>
	</test>  -->

	
<!-- 		<test thread-count="2" name="Test7">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC001_GenericManagenent_Advice">
				<methods>
					<include name="Advice" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	<!-- <test thread-count="2" name="Test8">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC002_GenericManagenent_Diagosis">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	
	<!-- <test thread-count="2" name="Test9">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC003_GenericManagenent_Followups">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	
	<!-- <test thread-count="2" name="Test10">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC004_GenericManagenent_Medicine">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	<!-- <test thread-count="2" name="Test11">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC005_GenericManagenent_Symptom">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	<!-- <test thread-count="2" name="Test12">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC006_GenericManagenent_Investigation_PrimaryTypes">
				<methods>
					<include name="DoctorTypes" />

				</methods>
			</class>
		</classes>
	</test> -->
	
	
<test thread-count="2" name="Test13">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.Tests.TC007_GenericManagenent_Investigation_Types">
				<methods>
					<include name="Types" />

				</methods>
			</class>
		</classes>
	</test>
	
	
	
</suite> <!-- Suite -->
